.navbar{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: #0d6326;
    position: fixed;
    z-index: 1000;
    max-width: 1000;
    width: 100%;
}

.navbar a{
    color: white;
}
.navbar a:hover{
    color: #2288f9;
}


.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
}

.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 

